main {
  position: absolute;
  top: 8%;
  width:100%;
}

#product-overview {
  border: 5px solid white;
  display: block;
  /* background: black; */
  width: 100%;
  height: 50vh;
  background: url("freedom.jpeg");
  /* background-size: ; */
  /* background-repeat: no-repeat; */
  background-position: 40% 70%;
}

#product-overview h1 {
  color: black;
  font-family: sans-serif;  
  margin-left: 2%;
}

#plans {
  margin-bottom: 1%;
}

#plans div {
  margin: auto;
  width: 80%;  
  text-align: center;  
}

#plans h1 {
  color: black;
}

.plan {
  background-color: rgb(66, 83, 231);
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  border-radius: 1%;
}

.plan--highlighted {
  background-color: rgb(66, 196, 100);
  color: white;
  box-shadow: 4px 1px 6px 1px rgba(255, 255, 255, 0.767);
  height: 70%;
  border-radius: 1%;  
}

.plan__annotation {
  padding: 3%;
  width: 80%;
  margin: 4% auto;
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: black;
}

.plan__price {
  color: white;
}

.plan--highlighted,
.plan__features {
  padding: 0;
  list-style: none;
}

.plan__features li {
  padding: 4% 0;
}

.section-title {
  color: white;
  margin: 20px;
  text-align: center;
}

#key-features {
  background-color: rgba(56, 3, 66, 0.747);
  padding-bottom: 0.8%;
  width: 100%; 
  position: absolute;
}

#key-features .section-title {
  padding-top: 2%;
}

.key-feature__list {
  list-style: none;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
}

.key-feature__image {
 background-color: aliceblue; 
 width: 125px;
 height: 125px;
 border: 2px solid black;
 border-radius: 50%;
 margin: 0 auto;
 padding: 20px;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.main-footer {
  background-color: black;
  display: inline-block;
  position: absolute;
  width: 100%;
  position: absolute;
  bottom: -89%;
}