* {
  box-sizing: border-box;
}

 html, body, main {
  height: 100%;
  position: relative;
  
}



body {
   font-family: 'Montserrat', sans-serif;
   background-color: white;
   margin: 0;
   /* height: 100%; */
 }
.main-header {
   background-color: rgba(247, 79, 79, 0.904);
   /* width: 100%; */
   padding: 1% 2%;
   
 }

 .main-header > div {
   display: inline-block;
 }

 .main-nav {
   display: inline-block;
   width: 100%;
   text-align: right;
   width: calc(100% - 10%);
   vertical-align: middle;
 }

 .main-header__brand {
   color: white;
   text-decoration: none;
   font-weight: bold;
   font-size: 20px;
   vertical-align: middle;
 }

 .main-nav__items {
   padding: 0;
   margin: 0;
   list-style: none;
   
 }

.main-nav__item {
  display: inline-block;
  margin: 0 2%;
  font-weight: bold;
  
}

.main-nav__item > a {
  color: black;
  text-decoration: none;
  padding: 5% 0;
  
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
  color: white;
  border-bottom: 3px solid white;
}

.main-nav__item--cta a {
  color: white;
  background-color: rgb(66, 196, 100);
  padding: 6px 16px;
  border-radius: 8px;  
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: rgb(66, 196, 100);
  background-color: white;
  border: none;
}

.main-footer {
  background-color: black;
  display: inline-block;
  position: absolute;
  width: 100%;
}

.main-footer__links {
  list-style: none;  
  margin: 0;
  padding: 0;
  text-align: center;
  
}

.main-footer__link {
  display: inline-block;
  margin: 0 5%;
  padding: 1% 0;
  padding: 1% 0;

}

.main-footer__link a {
  color: white;
  text-decoration: none;


}

.main-footer__link a:hover,
.main-footer__link a:active {
color: red;
}

.button {
  color: black;
  background-color: white;
  border: 1.5px solid black;  
  font: inherit;  
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: black;
  color: white;
  border: 1.5px solid rgb(248, 250, 248);
}

.button:focus {
  outline: none;
}

.highlighted-button {
  margin-bottom: 3.8%;
}