* {
  box-sizing: border-box;
}

 html, body, main {
  height: 100%;
  position: relative;
  
}



body {
   font-family: 'Montserrat', sans-serif;
   background-color: black;
   margin: 0;
   /* height: 100%; */
 }



/* main {
  height: 100%;
} */

.main-container {
  min-height: 100vh;
  display: block;
  position: relative;
}

.main-header {
   background-color: rgba(247, 79, 79, 0.904);
   /* width: 100%; */
   padding: 1% 2%;
   
 }

 .main-header > div {
   display: inline-block;
 }

 .main-nav {
   display: inline-block;
   width: 100%;
   text-align: right;
   width: calc(100% - 10%);
   vertical-align: middle;
 }

 .main-header__brand {
   color: white;
   text-decoration: none;
   font-weight: bold;
   font-size: 20px;
   vertical-align: middle;
 }

 .main-nav__items {
   padding: 0;
   margin: 0;
   list-style: none;
   
 }

.main-nav__item {
  display: inline-block;
  margin: 0 2%;
  font-weight: bold;
  
}

.main-nav__item > a {
  color: black;
  text-decoration: none;
  padding: 5% 0;
  
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
  color: white;
  border-bottom: 3px solid white;
}

.main-nav__item--cta a {
  color: white;
  background-color: rgb(66, 196, 100);
  padding: 6px 16px;
  border-radius: 8px;  
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: rgb(66, 196, 100);
  background-color: white;
  border: none;
}

.main-footer {
  background-color: black;
  display: inline-block;
  color: white;  
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 1.5% 0;
}

.main-footer__links {
  list-style: none;  
  margin: 0;
  padding: 0;
  text-align: center;
  
}

.main-footer__link {
  display: inline-block;
  margin: 0 5%;
}

.main-footer__link a {
  color: blue;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: white;
}


#product-overview {
  border: 5px solid white;
  display: block;
  background: black;
  width: 100%;
  height: 50vh;
  background: url("freedom.jpeg");
  background-size: 100% 100%;

}

#product-overview h1 {
  color: black;
  font-family: sans-serif;
  
}

#plans {
  
  margin-bottom: 0;

}

#plans div {
  
  text-align: center;
}

.plan {
  background-color: rgb(66, 83, 231);
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background-color: rgb(66, 196, 100);
  color: white;
  box-shadow: 4px 1px 6px 1px rgba(255, 255, 255, 0.767);
  height: 70%;
  
}

.plan__annotation {
  padding: 3%;
  width: 80%;
  margin: 4% auto;
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: black;
}

.plan__price {
  color: white;
}

.plan--highlighted,
.plan__features {
  padding: 0;
  list-style: none;
}

.plan__features li {
  padding: 4% 0;
}



.button {
  color: black;
  background-color: white;
  border: 1.5px solid black;  
  font: inherit;  
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: black;
  color: white;
  border: 1.5px solid rgb(248, 250, 248);
}

.button:focus {
  outline: none;
}

.highlighted-button {
  margin-bottom: 3.8%;
}

.section-title {
  color: white;
  margin: 20px;
  text-align: center;
}

#key-features {
  background-color: rgba(247, 79, 79, 0.904);
  padding-bottom: 2%;
  width: 100%;  


}

#key-features .section-title {
  padding-top: 2%;
}

.key-feature__list {
  list-style: none;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
}

.key-feature__image {
 background-color: aliceblue; 
 width: 125px;
 height: 125px;
 border: 2px solid black;
 border-radius: 50%;
 margin: 0 auto;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

