* {
  box-sizing: border-box;
  /* height: 100%; */
}

html {
  height: 100%;
}



body {
   font-family: 'Montserrat', sans-serif;
   background-color: black;
   margin: 0;
   height: 100%;
 }

main {
  height: 100%;
}

 .main-header {
   background-color: rgb(207, 204, 204);
   /* width: 100%; */
   padding: 1% 2%;
   
 }

 .main-header > div {
   display: inline-block;
 }

 .main-nav {
   display: inline-block;
   width: 100%;
   text-align: right;
   width: calc(100% - 10%);
   vertical-align: middle;
 }

 .main-header__brand {
   color: white;
   text-decoration: none;
   font-weight: bold;
   font-size: 20px;
   vertical-align: middle;
 }

 .main-nav__items {
   padding: 0;
   margin: 0;
   list-style: none;
   
 }

.main-nav__item {
  display: inline-block;
  margin: 0 2%;
  font-weight: bold;
  
}

.main-nav__item > a {
  color: rgba(7, 20, 2, 0.63);
  text-decoration: none;
  padding: 5% 0;
  
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
  color: white;
  border-bottom: 3px solid white;
}

.main-nav__item--cta a {
  color: white;
  background-color: rgb(66, 196, 100);
  padding: 6px 16px;
  border-radius: 8px;  
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: rgb(66, 196, 100);
  background-color: white;
  border: none;

}


#product-overview {
  background: black;
  padding: 20px;
  border: 5px solid white;
  /* margin: 20px; */
  /* width: 100%; */
  height: 60%;
   background: url("freedom.jpeg");
}

#product-overview h1 {
  color: rgb(120, 134, 124);
  font-family: 'Anton', sans-serif;

}

.plan {
  background-color: lightseagreen;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background-color: rgb(66, 196, 100);
  color: white;
  box-shadow: 4px 1px 6px 1px rgba(255, 255, 255, 0.767);
}

.plan__annotation {
  padding: 3%;
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: rgb(3, 73, 3);
}

.plan__price {
  color: rgb(231, 225, 225);
}

.plan--highlighted
.plan__features {
  padding: 0;
  list-style: none;
}

.plan__features li {
  padding: 4% 0;
}

.button {
  color: black;
  background-color: white;
  border: 1.5px solid black;  
  font: inherit;  
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: black;
  color: white;
  border: 1.5px solid rgb(248, 250, 248);
}

.button:focus {
  outline: none;
}
.section-title {
  color: white;
  margin: 20px;
  text-align: center;
}

.section-title + div {
  width: 100%;
  margin: 0 2.8%;
}

