html {
  position: relative;
}

main {
  position: absolute;
  top: 10%;
}

.background {
  background: url("../img/plans-background.jpg") center/cover;
  filter: grayscale(40%);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;

}

.package {
  width: 80%;
  margin: 16px 0;
  border: 4px solid black;
  border-left: none;
  position: relative;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 32px;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 12px;
  color: white;
  background-color: #ff5454;
  padding: 8px;

}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}


.package__subtitle {
  color: #979797;
}

.package__description {
  padding: 16px;
  border: 1px solid darkgreen;
  background: white;
}

.clearfix {
  clear: both;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  /* border-right: none; */
  border-left: 4px solid darkgreen;
  text-align: right;
}

#free:hover,
#free:active {
  border-color: #ff5454;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
  
}

#premium .package__subtitle {
  color: #bbb;
}

.main-footer {
  background-color: black;
  display: inline-block;
  position: absolute;
  width: 100%;
  position: absolute;
  bottom: -89%;
}
